/* CSS Reset */
/* #region */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */


/* General Stylings (triplet programmed) */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #ffffff;
  color: #222222;
  font-family: "Roboto", Arial, sans-serif;
}

/* Jumbotron, Header, Footer, Nav Code by N.Patterson */
/* #region */
.jumbotron{
  background-image: url("/img/contact/contact-jumbotron.png");
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: none;
  background-size: cover;
}

.h3NP {
  font-size: 2rem;
  line-height: 2.6rem;
}

nav {
  min-height: 3rem;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #828282;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
  padding: 4% 0;
}


.topnav {
  overflow: hidden;
  background-color: #99a5b0;
}

.topnav a {
  float: left;
  display: none;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-weight: Bold;
  color: #ffffff;
  font-size: 4rem;
}

.topnav a.active {
  font-weight: Bold;
  line-height: 8.5rem;
  color: #ffffff;
}

.topnav .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.actmenu a {
  float: none;
  display: block;
  text-align: center;
}

.h2np {
  color: white;
  font-size: 2.4rem;
  margin: 1rem 15rem;
}

.hambImg {
  font-size: 0px;
  line-height: 0rem !important;
  margin-top: 1rem;
  margin-right: 15rem;
}

.linkNP {
  padding: 5rem;
}

.bottomleft {
  position: absolute;
  bottom: 13rem;
  left: 15rem;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
  color: white;
}

.bottemleftHide {
  display: none;
}

#linkBottom {
  padding-bottom: 13rem;
}

/* #endregion */


/* CONTACT PAGE STYLING by TL Tsay */

/* Whole Contact Page */
/*#region*/
h1{
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff
}

h2{
  font-weight:bold;
  font-size:28px;
  color: #222222;
}

/* header{
  height: 80%;
} */

.jumbotron{
  background-position: center;
}

#contact-pg{
  display:flex;
  /* max-width: 100%; */
  /* margin: 5% 15rem; --> old margin-ing*/
  margin: 5% 10%;
}
/* #endregion */

/* Contact Page - Body - Left Side */
/*#region*/
#contact-pg-form-container{
  width: 60%;
  line-height: 2; 
}

#contact-pg-email-form, #buildings-needed-drop-down, 
#project-text-form{
  margin-bottom: 5%;
}

#contact-pg-email{
  width: 80%;
  line-height:2;
}

#contact-pg-email-form p{
  color:gray;
  font-size: 80%;
}

#buildings-needed{
  width: 81%; /*80% is off for some reason */
  font:inherit;
}

#project-needs{
  width:80%;
}

#client-type-radio-buttons{
  line-height: 1.8;
  margin-bottom: 8%;
}

#submit-button{
  width: 30%;
  padding: 2.5% 0;
  font-size:inherit;
  background:#ffffff;
}

/* #endregion */

/* Contact Page - Body - Right Side */
/* #region */

#contact-pg-addrs{
  margin: 2.5% 5%;
}

#contact-pg-addrs h2{
  margin-bottom: 20%;
}

#contact-pg-addrs h3{
  font-weight:bold;
  font-size: 20px;
}

#contact-pg-ny-addr, #contact-pg-fl-addr, #contact-pg-ca-addr{
  margin: 20% 0%;
}
/* #endregion */

/* Mobile version - 500px */
@media (max-width: 500px){
  .jumbotron{
    background-image: url("/img/contact/contact-mobile-jumbotron.png");
  }

  #contact-pg{
      display:flex;
      flex-direction:column;
  }

  #contact-pg-form-container, #contact-pg-email, #buildings-needed, #project-needs, #submit-button{
    width: 100%;
  }

  #contact-pg-addrs{
    margin-top: 15%;
  }

  #contact-pg-addrs h2{
    margin-bottom: 10%;
  }

  #contact-pg-ny-addr, #contact-pg-fl-addr, #contact-pg-ca-addr{
    margin: 10% 0%;
  }
};

/* CONTACT PAGE STYLING by TL Tsay - End */

/* PROJECT PAGE STYLING by TL Tsay */
#project-pg{
  display:flex;
  flex-direction:column;
}
#projects-pg h2, h3{
  color:white;
  line-height: 1.2;
}

#projects-pg h2{
  font-size: 4rem;
  text-shadow: 4px 4px 3px darkslategray;
}

#projects-pg h3{
  font-size: 2rem;
  text-align: right;
  padding-right: 5%;
}

#projects-pg section{
  background-position-x: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;   /* Super cool parallax effect! */
  height: 80vh;
  text-align: center;
}

/*  TO DO
move maybe
Take inspiration from html5up 
*/

#angry-cat{
background-position-y: 100%;
}

#cylinder-box{
  background-position-y: 70%;
}

/* Other section names
#box-buildings
#boxes-buildings
#cylinder
#apocalypse
*/

.bottom_aligner {
  display: inline-block;
  height: 60%;
  vertical-align: bottom;
  width: 0px;
}

/* No need for separate styles for mobile */

/* PROJECT PAGE STYLING by TL Tsay - End */