


/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Everything above is CSS reset */

/* General Stylings */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: #ffffff;
  color: #222222;
  font-family: "Roboto", Arial, sans-serif;
}

nav {
    Background: #828282;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 5vh;
}

.nav1NP {
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-left: 15rem;
}

.nav2NP {
    align-self: flex-end;
    margin-bottom: .8rem;
    margin-right: 15rem;
}

.logoNP {
    font-weight: bold;
    font-size: 2.4rem;
    color: #ffffff;
}

.jumbotron-home {
    background-image: url("/img/home/home-jumbotron.png");
    min-height: 115vh;
    background-repeat: no-repeat;
    background-attachment: none;
    background-size: cover;
}

.jumbotron {

}

footer {
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 10;
    background-color: white;
    width: 100%;
    max-width: 100%;
  }
  .modal.active {
    transform: translate(0%, 0rem) scale(1);
  }
 
  
  .modal-header  {
    cursor: pointer;
    border: none;
    outline: none; 
    background: none;
    font-size: 2rem;
    font-weight: bold;
  }
  .close-button {
    cursor: pointer;
    border: none;
    outline: none; 
    background: none;
    font-size: 3rem;
    font-weight: bold;
  }

  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0; 
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;
  }
  
  #overlay.active {
    pointer-events: all;
    opacity: 1;
  }